html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
}

.title {
  font-family: 'Teko', sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.userScore {
  font-family: 'Teko', sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bgColor-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.canvas-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#speed,
#size,
#snakeColor,
#appleColor {
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: #bcdfce;
  border: none;
  color: #fff;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Teko', sans-serif;
  font-size: 1.1rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

option {
  font-family: 'Teko', sans-serif;
}

#bgColor {
  font-family: 'Teko', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
#color {
  font-family: 'Teko', sans-serif;
  font-size: 1.1rem;
  color: #fff;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  border: none;
  background: #bcdfce;
  box-shadow: 3px 3px 2px #c0c0c1;
  cursor: pointer;
}

#color:active {
  transform: translateY(3px);
}

#appleColor > option.yellowBg {
  background-color: #ffff00;
}

#appleColor .orangeBg {
  background-color: #ffa500;
}
#appleColor .redOrangeBg {
  background-color: #ff5349;
}
#appleColor .smokeWhiteBg {
  background-color: #f5f5f5;
}
#appleColor .redVioletBg {
  background-color: #c71585;
}
#appleColor .violetBg {
  background-color: #ee82ee;
}
#appleColor .blueVioletBg {
  background-color: #8a2be2;
}
#appleColor .blueBg {
  background-color: #0000ff;
}
#appleColor .blueGreenBg {
  background-color: #0d98ba;
}
